body {

    background-color:blue;
}

html{

    font-family: 'Indie Flower', cursive;
    font-family: 'Titillium Web', sans-serif;

}

#titulo{

    color:white ;
    font-size: 60px;
    text-align: center;
    

}

#foto{
    background-color: black;
    float:left;
    margin-right: 10px;
    width:250px;
    height:250px;
}

p, li{
    color:white;
    font-size: 20px;

}

strong{
color:blue;
font-weight: bold;   
font-size: 30px;
}

h3,h2,ol,ul{
    color:rgba(82, 9, 39, 0.849);
    font-size: 30px;
    }